<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Flex Play</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<style>
    body {
        height: 100vh;
        background-color: lightgreen;
    }
    .userform {
        width: 50%;
        text-align: center;
        margin: auto;
        margin-top: 30rem;
        font-size: 2rem;
    }
</style>

<body>
    <div class="userform">
        <form>
            <div>
                <label>username</label>
                <input type="name" height="48" placeholder="username">
            </div>
            <div>
                <label>password</label>
                <input type="password" height="2rem" placeholder="password">
            </div>
        </form>
    </div> 
</body>

</html>
